@page "/TipoTecnico/Index"
@inject TipoTecnicoService tipoTecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Tipos de tecnicos</PageTitle>

<div class="card-header bg-primary text-center text-white py-2 rounded">
    <h3 style="font-weight: bold;" class="font-weight-bold">Consulta de Tipos T&eacute;cnicos</h3>
</div>

<div class="col md-3 text-end">
    <a href="/TipoTecnico/Create" class="btn btn-success"<Icon Name="IconName.Floppy"/>Crear</a>
</div>

<table class="table table-bordered  text-center">
    <thead class="border-primary text-white">
        <tr>
            <th>TipoT&eacute;cnicoId</th>
            <th>Descripci&oacute;n</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tipotecnicos in ListaTipoTecnico)
        {
            <tr>
                <td>@tipotecnicos.TipoTecnicoId</td>
                <td>@tipotecnicos.Descripcion</td>

                <td>
                    <a href="/TipoTecnico/Details/@tipotecnicos.TipoTecnicoId" class="btn btn-outline-primary"><span class="bi bi-info-circle-fill"></span></a>
                </td>

                <td>
                    <a href="/TipoTecnico/Edit/@tipotecnicos.TipoTecnicoId" class="btn btn-outline-success"><span class="bi bi-marker-tip"></span></a>
                </td>

                <td>
                    <a href="/TipoTecnico/Delete/@tipotecnicos.TipoTecnicoId" class="btn btn-outline-warning"><span class="bi bi-dash-circle-fill"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="card-footer text-start">
    <p>Total de tipos T&eacute;cnicos: @ListaTipoTecnico.Count</p>
</div>

@code {
    public List<TiposTecnicos> ListaTipoTecnico { get; set; } = new List<TiposTecnicos>();

    protected override async Task OnInitializedAsync()
    {
        ListaTipoTecnico = await tipoTecnicoService.Listar(t => true);
    }
}