@page "/Cliente/Index"
@inject ClienteService clienteService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Consulta de clientes</PageTitle>

<div class="card-header bg-primary text-center text-white py-2 rounded">
    <h3 style="font-weight: bold;" class="font-weight-bold">Consulta de Clientes</h3>
</div>

<div class="row mb-3 align-items-end">
    <div class="col md-3">
        <label for="Filtro" class="form-label">Filtrar por:</label>
        <select @bind="filtro" class="form-select">
            <option value="ID">ClienteId</option>
            <option value="Nombres">Nombres</option>
            <option value="WhatsApp">WhatsApp</option>
        </select>
    </div>

    <div class="col md-6">
        <label for="ValorFiltro" class="form-label">Busqueda:</label>
        <div class="input-group">
            <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
            <button @onclick="Buscar" class=" btn btn-outline-primary" type="button">
                <span class="bi bi-search"></span>Buscar
            </button>
        </div>
    </div>

    <div class="col md-3 text-end">
        <a href="/Cliente/Create" class="btn btn-success"<Icon Name="IconName.Floppy"/> Crear</a>
    </div>
</div>

<table class="table table-bordered text-center">
    <thead class="border-primary text-white">
        <tr>
            <th>ClienteId</th>
            <th>Nombres</th>
            <th>WhatsApp</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clientes in ListaClientes)
        {
            <tr>
                <td>@clientes.ClienteId</td>
                <td>@clientes.Nombres</td>
                <td>@clientes.WhatsApp</td>

                <td>
                    <a href="/Cliente/Details/@clientes.ClienteId" class="btn btn-outline-primary"><span class="bi bi-info-circle-fill"></span></a>
                </td>

                <td>
                    <a href="/Cliente/Edit/@clientes.ClienteId" class="btn btn-outline-success"><span class="bi bi-marker-tip"></span></a>
                </td>

                <td>
                    <a href="/Cliente/Delete/@clientes.ClienteId" class="btn btn-outline-warning"><span class="bi bi-dash-circle-fill"></span></a>
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="card-footer text-start">
    <p>Total de Clientes: @ListaClientes.Count</p>
</div>

@code {
    public Clientes clientes { get; set; } = new Clientes();
    public List<Clientes> ListaClientes { get; set; } = new List<Clientes>();
    public string filtro = "ID";
    public string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        ListaClientes = await clienteService.Listar(c => true);
    }

    public async Task Buscar()
    {
        if (string.IsNullOrWhiteSpace(valorFiltro))
        {
            ListaClientes = await clienteService.Listar(P => true);
        }
        else
        {
            if (filtro == "ID" && int.TryParse(valorFiltro, out int articuloId))
            {
                ListaClientes = await clienteService.Listar(c => c.ClienteId == articuloId);
            }
            else if (filtro == "Nombres")
            {
                ListaClientes = await clienteService.Listar(c => c.Nombres.Contains(valorFiltro));
            }
            else if (filtro == "WhatsApp")
            {
                ListaClientes = await clienteService.Listar(c => c.WhatsApp.Contains(valorFiltro));
            }

        }
    }
}